*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
BV1/settings.xml
CatModule/settings.xml
GreatFXUtils/settings.xml
Mp3Player/settings.xml
SimpleBookView/settings.xml
SingSongModule/settings.xml
maven-LHSS-Common/settings.xml
maven-TIR5/build/release/
maven-TIR5/release/pc/app/pc_student_properties_jar72.xml
maven-TIR5/settings.xml
.recommenders*
Servers*
Examples*
BV1/.project
CatModule/.project
GreatFXUtils/.project
Mp3Player/.project
SimpleBookView/.project
SingSongModule/.project
TUNEin to Reading Loader/build/*